/* Contenedor general */
.proveedores-container {
    display: flex;
    height: 100vh;
    width: 1710px;
    margin: 20px auto;
    border-radius: 8px;
    background: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Contenido principal */
.proveedoresContent {
    flex: 1;
    padding: 30px;
    margin-left: 45px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

/* Barra de búsqueda */
.search-bar input {
    margin-bottom: 20px;
    padding: 12px;
    width: 100%;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: black;
}

/* Botón principal */
.action-button {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action-button:hover {
    background-color: #45a049;
}

/* Tabla de Proveedores */
.tablaProveedores {
    width: 1300px;
    border-collapse: collapse;
    margin-top: 20px;
}

.tablaProveedores th {
    background-color: #34495e;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 16px;
}

.tablaProveedores td {
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
    color: #34495e;
}

.tablaProveedores .estado.activo {
    font-weight: bold;
    color: #4caf50;
}

.tablaProveedores .estado.inactivo {
    font-weight: bold;
    color: #dc3545;
}

/* Modal */
.modal-Proveedores {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content-Proveedores {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alineación hacia la izquierda */
    width: 800px; /* Ampliado para mayor espacio */
    border-radius: 12px;
    background: linear-gradient(135deg, #ffffff, #f8f9fa);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    padding: 25px;
}

.modal-content-Proveedores strong {
    color: #3289e0;
}

/* Estilo para el formulario dentro del modal */
.modal-content-Proveedores form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

/* Ajustar los inputs para ocupar el 100% de su columna */
.modal-content-Proveedores input {
    width: 600px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    margin: 10px;
}

/* Alinear los botones en una sola fila */
.modal-content-Proveedores .botonesEliminarProveedor {
    display: flex ; /* Usar flexbox */
    justify-content: center ; /* Centrar horizontalmente */
    align-items: center ; /* Centrar verticalmente */
    gap: 20px ; /* Espacio uniforme entre botones */
    margin-top: 20px ; /* Separación del contenido superior */
    width: 100%; /* Asegura que los botones ocupen el contenedor */
}

/* Botones en el modal */
.modal-content-Proveedores .btn {
    padding: 12px 24px ; /* Tamaño uniforme */
    font-size: 1rem ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content-Proveedores .btn.success {
    background-color: #3498db;
    color: white;
}

.modal-content-Proveedores .btn.success:hover {
    background-color: #1974b1;
}

.modal-conten-Proveedorest .btn.close {
    background-color: #dc3545 ;
    color: white ;
}

.modal-content-Proveedores .btn.close:hover {
    background-color: #c82333 ;
}

.modal-content-Proveedores .btn.close.Cancelar {
    background-color: #1974b1 ;
    color: white ;
}

.modal-content-Proveedores .btn.close.Cancelar:hover {
    background-color: #1a567e ;
}

.modal-content-Proveedores .btn.close.cerrar {
    display: flex ; 
    justify-content: center ; /* Centra horizontalmente */
    align-items: center ; /* Centra verticalmente dentro del botón */
    margin: 0 auto ; /* Centra el botón dentro de su contenedor padre */
    padding: 12px 24px ; /* Tamaño uniforme */
    font-size: 1rem ;
    border: none ;
    border-radius: 5px ;
    cursor: pointer ;
    background-color: #ca3241 ; /* Fondo del botón */
    color: white ; /* Color del texto */
    transition: background-color 0.3s ease ; /* Animación al pasar el mouse */
}

.modal-content-Proveedores .btn.close.cerrar:hover {
    background-color: #9b212e ; /* Color al pasar el mouse */
}

.modal-content-Proveedores input::placeholder {
    color: #aaa; /* Color más visible para el placeholder */
    opacity: 1; /* Asegura que el placeholder no desaparezca */
}

.modal-content-Proveedores input:not(:placeholder-shown) {
    color: black; /* Cambia el color del texto cuando hay contenido */
}

.documento-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input-documento {
    width: 100%;
    padding-right: 60px; /* Espacio para el select */
}

.select-tipo-documento {
    right: 10px;
    background: white;
    color: black;
    border: 1px solid #ccc;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
}

.botonEditarProveedor{
    display: flex ; 
    justify-content: center ; /* Centra horizontalmente */
    align-items: center ; /* Centra verticalmente dentro del botón */
    margin: 0 auto ; /* Centra el botón dentro de su contenedor padre */
    padding: 10px 20px ; /* Tamaño uniforme */
    font-size: 1rem ;
    border: none ;
    border-radius: 5px ;
    cursor: pointer ;
    color: white ; /* Color del texto */
    transition: background-color 0.3s ease ; /* Animación al pasar el mouse */
    background-color: #3498db;
}

.botonEditarProveedor:hover{
    background-color: #1d6b9e;
}

.iconosTablaProveedores{
    display: flex;
}

/* Encabezado del componente */
h2.title-h2-Proveedores {
    font-size: 1.5rem;
    color: #34495e;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Efecto para el texto */
.text-bold {
    font-weight: bold;
    color: #333;
}

.botonVerDetallesProveedor {
    background-color: #3498db;
}

.botonVerDetallesProveedor:hover {
    background-color: #2980b9;
}

.botonesGuardarCancelarAgregarEditarProveedor {
    display: flex ; 
    justify-content: center ; /* Centra horizontalmente */
    align-items: center ; /* Centra verticalmente dentro del botón */
    margin: auto ; /* Centra el botón dentro de su contenedor padre */
    margin-bottom: 10px;
    padding: 12px 24px ; /* Tamaño uniforme */
    font-size: 1rem ;
    color: white ; /* Color del texto */
    transition: background-color 0.3s ease ; /* Animación al pasar el mouse */
}

.botonCerrarModalVerDetallesProveedores{
    background-color: #3498db;
}

.botonGuardarEditarProveedor{
    background-color: #3498db;
}

.botonGuardarEditarProveedor:hover{
    background-color: #2677ad;
}

.botonCancelarEditarProveedor{
    background-color: #bd0e1f;
}

.botonCancelarEditarProveedor:hover{
    background-color: #7e1a24;
}

.botonEliminarProveedor{
    background-color: #bd0e1f;
}

.botonEliminarProveedor:hover{
    background-color: #9b212e;
}

.barraBusquedaBotonAgregarProveedor {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.barraBusquedaBotonAgregarProveedor input {
    width: 300px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}

.botonSuperiorAgregarProveedor {
    padding: 12px 24px;
    font-size: 1rem;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}


.botonSuperiorAgregarProveedor:hover {
    background-color: #1f6fa5;
}

.botonModalCancelarEliminarProveedor{
    background-color: #2980b9;
    height: 44px;
    width: 110px;
    border-radius: 5px;
}

.tipo-documento-proveedor-select {
    width: auto ; /* Mantiene un tamaño ajustado */
    padding: 12px ; /* Espaciado interno */
    border: 1px solid #ced4da ; /* Borde uniforme */
    border-radius: 4px ; /* Bordes redondeados */
    background-color: white ; /* Fondo */
    color: black ; /* Texto */
    font-size: 16px ; /* Tamaño del texto */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) ; /* Sombra */
}

.tipo-documento-proveedor-select:focus{
    outline: none; /* Remueve el contorno predeterminado */
    border-color: #007bff; /* Color del borde al enfocarse */
}

/* Estilos para el Modal General */
.modal-Proveedores-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000; /* Prioridad alta para que aparezca sobre otros modales */
}

.modal-Proveedores-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 15; /* Mayor índice para asegurar visibilidad */
}
