/* Contenedor General */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Asegura que ocupe toda la pantalla */
    background-color: #f0f0f0; /* Fondo neutro para la página */
}

  /* Contenedor Principal */
.agregar-compra-container {
    display: flex;
    height: 100vh;
    width: 1400px;
    margin: 20px auto;
    border-radius: 8px;
    background: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

  /* Contenido Principal */
.agregar-compra-content {
    flex-grow: 1;
    padding: 25px;
}

  /* Título */
.agregar-compra-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

  /* Formulario */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.seleccionar-proveedor,
.LaFecha,
.seleccionar-producto {
    width: 90%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: white;
    color: black;
}

  /* Botones */
.btn-agregar-producto {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin: 10px 0;
    cursor: pointer;
}

.btn-agregar-producto:hover {
    background-color: #2980b9;
}

.agregar-compra-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-guardar,
.btn-cancelar {
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.btn-guardar {
    background-color: #3498db;
    color: white;
}

.btn-guardar:hover {
    background-color: #195f8d;
}

.btn-cancelar {
    background-color: #e74c3c;
    color: white;
}

.btn-cancelar:hover {
    background-color: #c0392b;
}

.btn-icono-eliminar {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-icono-eliminar:hover {
    background-color: #c0392b;
}

  /* Tabla */
.agregar-compra-table {
    overflow-x: auto;
    margin-top: 15px;
}

.agregar-compra-table table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.agregar-compra-table th,
.agregar-compra-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.agregar-compra-table th {
    background-color: #3498db;
    color: white;
}

  /* Total */
.agregar-compra-total {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}
