.compras-container {
  display: flex;
  height: 100vh;
}

.compras-content {
  margin-left: 80px;
}

h2 {
  margin-bottom: 15px;
  color: #333;
}

/* Barra de búsqueda */
.search-bar {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
}

.search-bar input {
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

.search-bar input:focus {
  outline: none;
  border-color: #007bff;
}

/* Botones */
.compras-buttons {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.2rem;
  color: white;
  border: none;
  cursor: pointer;
}

.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.success {
  background-color: #177ddd;
}

.danger {
  background-color: #dc3545;
}

.warning {
  background-color: #ffc107;
  color: #000;
}

.info {
  background-color: #007bff;
}

/* Tabla de compras */
.compras-table {
  background: white;
  font-size: 18px;
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table {
  width: 800px;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #34495e;
  color: white;
}

/* Estados */
.estado {
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
}

.estado.completado {
  color: black;
}

.estado.pendiente {
  color: black;
}

.estado.anulada {
  background: #d9534f;
  color: white;
  border-radius: 15px;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  border-radius: 8px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-content input {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: black;
}

.modal-content p {
  margin: 5px 0;
}

.btn.close {
  margin-top: 10px;
  background: #d9534f;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn.close:hover {
  background: #c9302c;
}

/* Modal Detalle */
.modal-detalle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content-detalle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 20px;
  width: 600px;
  height: auto;
  border-radius: 8px;
}

.producto-item {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;    /* Centra verticalmente */
  gap: 10px;
}

/* Botones de acciones */
.btnVerCompra {
  background-color: #3498db;
}

.btnPDFCompra {
  background-color: #3498db;
}

.btn-remove {
  margin: 0 auto !important; /* Centra horizontalmente dentro de un contenedor */
  display: block !important;
  background-color: red !important;
  color: white !important;
  font-size: 0.8rem !important;
  cursor: pointer !important;
  width: 50px !important;
}
.btn-remove:hover {
  background-color: darkred !important;
}

.button-row {
  display: flex;               /* Activa Flexbox */
  justify-content: space-between; /* Espacia los botones */
  width: 100%;                 /* Ajusta al ancho del modal */
  margin-top: 10px;            /* Espaciado superior */
}

.button-row .btn {
  flex: 1;                     /* Distribuye el ancho de los botones proporcionalmente */
  margin: 0 5px;               /* Espaciado horizontal entre botones */
}
