.productos-page {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: rgb(245, 245, 245);
    /* Fondo cálido */
    overflow-y: auto;
    /* Agrega scroll vertical si es necesario */
}

.productos-title {
    font-size: 3rem;
    margin-top: 300px;
    margin-bottom: 40px;
    color: #eb0985;
}

.productos-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.productos-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    /* Sombra suave */
    padding: 25px;
    text-align: center;
    width: 280px;
    transition: transform 0.3s ease;
}

.productos-card:hover {
    transform: scale(1.05);
}

.productos-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.primary-button,
.add-button {
    margin: 10px 5px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.primary-button {
    background-color: #eb0985;
    color: white;
}

.primary-button:hover {
    background-color: #bd096c;
}

.add-button {
    background-color: #28a745;
    color: white;
}

.add-button:hover {
    background-color: #218838;
}

.cart-icon {
    position: fixed;
    top: 100px;
    /* Más arriba para acercarlo al Navbar */
    right: 40px;
    /* Más a la izquierda, dejando espacio al borde derecho */
    cursor: pointer;
    display: flex;
    align-items: center;
    /* Asegura que quede por encima de otros elementos */
}

.cart-count {
    background-color: #eb0985;
    color: white;
    border-radius: 50%;
    padding: 3px 8px;
    font-size: 0.9rem;
    margin-left: 5px;
}


/* Modal del carrito */

.cart-modal {
    position: fixed;
    top: 20%;
    right: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    max-width: 300px;
}


/* Modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}
