/* Estilo global */
body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    /* Fondo claro uniforme */
    color: #2c3e50;
    /* Color del texto */
    height: 100%;
    overflow: hidden;
    /* Evita scroll innecesario */
}

/* Contenedor principal del Dashboard */
.dashboard-container {
    display: flex;
    height: 100vh;
    /* Altura completa del viewport */
}

/* Sidebar del Dashboard con fondo */
.dashboard-sidebar {
    width: 20%;
    background-color: #34495e;
    /* Fondo oscuro del Navbar lateral */
    color: #ecf0f1;
    /* Texto claro */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    /* Sombra ligera para separar del contenido principal */
}

/* Sección del Admin */
.admin-section {
    text-align: center;
    margin-bottom: 50px;
}

.admin-icon {
    font-size: 4rem;
    color: #ecf0f1;
    /* Coincide con el texto */
}

.admin-label {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Links del Sidebar */
.dashboard-links {
    width: 100%;
}

.dashboard-link {
    background-color: transparent;
    color: #ecf0f1;
    border: none;
    padding: 15px;
    text-align: left;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    /* Efecto suave */
}

.dashboard-link:hover {
    background-color: #2c3e50;
    /* Fondo más oscuro al pasar el cursor */
}

.dashboard-icon {
    margin-right: 20px;
    font-size: 1.2rem;
}

/* Área principal del Dashboard */
.dashboard-main {
    flex: 1;
    /* Ocupa el espacio restante */
    padding: 50px;
    background-color: #f5f5f5;
    overflow-y: auto;
    /* Scroll automático si hay mucho contenido */
}

/* Cabecera del Dashboard */
.dashboard-header {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #2c3e50;
}

/* Contenedor de Gráficas */
.charts-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    height: 400px;
    /* Ajuste para acomodar gráficos nuevos */
}

.chart {
    width: 40%;
    padding: 65px;
    border-radius: 8px;
    text-align: center;
    background-color: #ffffff;
    /* Fondo blanco */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    /* Sombra ligera */
}