/* Contenedor general */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Ocupa todo el alto de la página */
    width: 100vw;
    /* Asegura que ocupe todo el ancho */
    background-color: rgb(245, 245, 245);
    /* Fondo cálido */
    margin: 0;
    /* Elimina cualquier margen externo */
}

/* Caja del formulario */
.form-box {
    background-color: #fff;
    /* Fondo del formulario */
    padding: 50px;
    border-radius: 15px;
    /* Bordes suaves */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    /* Sombra elegante */
    width: 100%;
    /* Ancho completo disponible */
    max-width: 600px;
    /* Máximo ancho del formulario */
    text-align: center;
}

/* Título del formulario */
.form-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

/* Contenido del formulario */
.form-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Inputs del formulario */
.form-input {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #333;
    background-color: #f9f9f9;
}

.form-input:focus {
    outline: none;
    border-color: #ff7f50;
}

/* Botón principal */
.primary-button {
    background-color: #ff7f50;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.primary-button:hover {
    background-color: #d2691e;
}

/* Botón secundario */
.secondary-button {
    background-color: #ddd;
    color: #333;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.secondary-button:hover {
    background-color: #bbb;
}

/* Acciones del formulario */
.form-actions {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

/* Checkbox dentro del formulario */
.form-checkbox {
    display: flex;
    /* Posición en línea */
    align-items: center;
    /* Alinea verticalmente con el texto */
    justify-content: flex-start;
    /* Ajusta la posición al lado izquierdo */
    gap: 10px;
    /* Espacio entre el checkbox y el texto */
    margin: 15px 0;
    /* Separación entre el checkbox y otros elementos */
}

.form-checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.form-checkbox label {
    font-size: 1rem;
    color: #333;
    font-weight: normal;
}