.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    list-style: none;
}

.page-item {
    margin: 0 5px;
}

.page-item .page-link {
    color: var(--primary-color, #6d0b58);
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.page-item.active .page-link {
    background-color: var(--primary-color, #6d0b58);
    color: white;
    border-color: var(--primary-color, #6d0b55);
    cursor: default;
}

.page-item .page-link:hover:not(.active) {
    background-color: #f2f2f2; }