.categorias-container {
  display: flex;
  height: 100vh;
  width: 1400px;
}

.categorias-content {
  flex: 1;
  padding: 20px;
  margin-left: 100px;
}

h2 {
  margin-bottom: 15px;
  color: #000000;
}

.search-bar input {
  padding: 8px 12px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.btn-agregar {
  background-color: #3498db;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-agregar:hover {
  background-color: #2980b9;
}

.categorias-table {
  background: white;
  width: 97%;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #34495e;
  color: white;
}

.switch input {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2ecc71;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  animation: fadeIn 0.3s ease;
}

.modal-content h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.modal-content label {
  font-weight: bold;
  color: #555;
}

.required {
  color: red;
  font-weight: bold;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: -5px;
  margin-bottom: 8px;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btn.success {
  background-color: #2ecc71;
}

.btn.danger {
  background-color: #dc3545;
}

.btn.close {
  background-color: #95a5a6;
}

.acciones-barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.modal-confirm {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

.modal-confirm h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.modal-confirm p {
  margin-bottom: 1.5rem;
}

.modal-confirm-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn-blue {
  background-color: #3498db;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
}

.btn-blue:hover {
  background-color: #1976D2;
}

.btn-red {
  background-color: #f44336;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
}

.btn-red:hover {
  background-color: #d32f2f;
  margin: 10px;
}


.asterisco{
  width: 150px;
}
