.servicios-container {
  display: flex;
  height: 100vh;
  width: 1400px;
}

.servicios-content {
  flex: 1;
  padding: 20px;
  margin-left: 100px;
}

.tituloServicios {
  margin-bottom: 15px;
  color: #000000;
}

.BarraBusquedaServicio input {
  padding: 8px 12px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #000000;
}

.botonAgregarServicio {
  background-color: #3498db;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botonAgregarServicio:hover {
  background-color: #2980b9;
}

.botonVerDetallesServicios {
  background-color: #3498db;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.botonVerDetallesServicios:hover {
  background-color: #2980b9;
}

.botonEditarServicios {
  background-color: #3498db;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.botonEditarServicios:hover {
  background-color: #2980b9;
}

.botonEliminarServicios {
  background-color: #e74c3c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.botonEliminarServicios:hover {
  background-color: #c0392b;
}

.tablaServicio {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-collapse: collapse;
}

.input {
  background: white;
    color: black;
}

.thServicios, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.thServicios {
  background-color: #34495e;
  color: white;
}

.switch input {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2ecc71;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.modalServicio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content-Servicio {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alineación hacia la izquierda */
  width: 600px; /* Ampliado para mayor espacio */
  border-radius: 12px;
  background: linear-gradient(135deg, #ffffff, #f8f9fa);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  padding: 25px;
}

.modal-content-Servicio h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.modal-content-Servicio input,
.modal-content-Servicio textarea,
.modal-content-Servicio select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.modal-content-Servicio label {
  font-weight: bold;
  color: #555;
  display: block;
  margin-bottom: 5px;
}

.requiredServicio {
  color: red;
  font-weight: bold;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: -5px;
  margin-bottom: 8px;
}

.barraBusqueda-BotonSuperiorAgregarServicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.modal-Servicio-confirm {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

.modal-Servicio-confirm h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.modal-Servicio-confirm p {
  margin-bottom: 1.5rem;
}

.modalConfirmacionEliminar{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn-blue {
  background-color: #3498db;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.btn-blue:hover {
  background-color: #1976D2;
}

.btn-red {
  background-color: #f44336;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.btn-red:hover {
  background-color: #d32f2f;
}

.asteriscoCamposServicio {
  width: 150px;
}

.servicio-imagen {
  border-radius: 4px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.modal-Servicio-form-grid {
  display: grid;
  gap: 15px;
}

.CamposAgregarServicio {
  grid-column: span 2;
}